<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= content.published_date %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= content.author %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= content.summary %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= content.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= content.status %>
  </p>

</div>
