<p style="color: green"><%= notice %></p>

<%= render @genere %>

<div>
  <%= link_to "Edit this genere", edit_genere_path(@genere) %> |
  <%= link_to "Back to generes", generes_path %>

  <%= button_to "Destroy this genere", @genere, method: :delete %>
</div>
